- current = (@active == article.id.to_s)
%tr[article]{class: current ? "active" : ""}
  %td
    - if current
      = article.title
    - else
      %a.article_link{href: "#{article_path(article)}"}= article.title
